<div class="container-fluid">
    <div class="header text-center">
        <div class="content">
            <div style="font-size: 6rem;">GitG<span>
                
                  </span>oogle</div><br><br>
            <h1 >Profile finder for Github</h1> <br>
            <h4 >Find Github users and repositories.</h4><br><br>
          
          <a routerLink="/my-profile" style="color: inherit;">
            <h4>View my profile</h4>
          </a><br>
          <a routerLink="/my-profile"><i class="fas fa-angle-double-down" style="font-size: 2rem; color: black;"></i></a>
        </div>

    </div>

</div>