<div class="container-fluid">
    <div class="header text-center">
        <div class="content">
            <div style="font-size: 6rem;">GitG<span>
                <img width="85" alt="Angular Logo" src="../../../assets/gitlogo.png"
                  style="padding-bottom: 2%;" /></span>ogle</div><br><br>
            <h1 style="font-size: 1.6rem;">Profile finder for Github</h1> <br>
            <h4 style="font-size: 1rem;">Find Github users and repositories.</h4><br><br>
          
          <a routerLink="/my-profile" style="color: inherit;">
            <h5>View my profile</h5>
          </a><br>
          <a routerLink="/my-profile"><i class="fas fa-angle-double-down" style="font-size: 2rem;"></i></a>
        </div>

    </div>

</div>