<div class="navbar">
    <div style="font-size: 1.8rem;">
        GIT GOOGLE
    </div>
    <div class="links">
        <a routerLink="/home" routerLinkActive="activeRoute" >Home</a>&nbsp;&nbsp;
        <a (click)=toggleUserForm() *ngIf="!isShowUserForm">Find a user</a>

        <form #userForm= "ngForm" *ngIf="isShowUserForm">
            <div class="input-group" style="width: 13rem">
                <input type="text"
                        class="form-control"
                        placeholder="Search by username"
                        name="username"
                        
                        [(ngModel)]="username"
                        style="background-color: transparent; color: white;">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="findProfile();toggleUserForm(); userForm.reset()" routerLink="/name-result" routerLinkActive="activeRoute">
                        <a> <i class="fas fa-search" style="width: 0.4rem;"></i></a>
                    </button> 

                </div>        
                       
            </div>

        </form>&nbsp;&nbsp;
        <a >Find a repo</a>

        

    </div>

</div>