<div class="navbar">
    <div style="font-size: 1.8rem;">
        GIT GOOGLE
    </div>
    <div class="links">
        <a routerLink="/home" routerLinkActive="activeRoute" >Home</a>
        <a >Find a user</a>

        <!-- <form #userForm= "ngForm">
            <div class="input-group">
                <input type="text"
                        class="form-control"
                        placeholder="Search by username"
                        name="username"
                        [(ngModel)]="username"
                        >
                <button>
                    <a> <i class="fas fa-search"></i></a>
                </button>        
            </div>

        </form> -->
        <a >Find a repo</a>

        <!-- <form #repoForm= "ngForm">
            <div class="input-group">
                <input type="text"
                        class="form-control"
                        placeholder="Search by reponame"
                        name="reponame"
                        [(ngModel)]="name"
                        >
                <button>
                    <a> <i class="fas fa-search"></i></a>
                </button>        
            </div>

        </form> -->

    </div>

</div>